.headline {
  align-content: center;
}

.headline > * {
  margin: 4vw;
}

.supporting-text {
  margin-left: 14vw;
  margin-right: 14vw;
}

.about-me-text {
  margin-left: 10vw;
  margin-right: 10vw;
}
