* {
  margin: 0;
  padding: 0;
}

.hole-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome {
  color: #28352f;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  text-decoration: none;
}

.welcome h2 {
  font-size: 20px;
  padding: 11px 24px;
}

.headline {
  flex-basis: 100%;
  background-size: 100% 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url(../images/background/mobile-portfolio-background-1.png);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.primary-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  margin-top: 40px;
}

.name {
  color: #172b4d;
  font-size: 40px;
}

.profession {
  color: #36b37f;
  font-size: 40px;
}

.supporting-text {
  color: #172b4d;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  padding-left: 24px;
  padding-right: 24px;
}

.social {
  display: flex;
  flex-basis: 170px;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.twitter-logo {
  width: 19.99px;
  height: 19.96px;
}

.linkedin-logo {
  width: 20px;
  height: 20px;
}

.medium-logo {
  width: 20px;
  height: 16px;
}

.github-logo {
  width: 18px;
  height: 20px;
}

.angelist-logo {
  width: 14.17px;
  height: 20px;
}

.button {
  flex-basis: 100%;
  align-self: flex-end;
}

.twitter-logo:hover {
  filter: contrast(200%);
}

.twitter-logo:active {
  filter: brightness(200%);
}

.linkedin-logo:hover {
  filter: contrast(200%);
}

.linkedin-logo:active {
  filter: brightness(200%);
}

.medium-logo:hover {
  filter: contrast(200%);
}

.medium-logo:active {
  filter: brightness(200%);
}

.github-logo:hover {
  filter: contrast(200%);
}

.github-logo:active {
  filter: brightness(200%);
}

.angelist-logo:hover {
  filter: contrast(200%);
}

.angelist-logo:active {
  filter: brightness(200%);
}

.button:hover {
  filter: contrast(200%);
}

.button:active {
  filter: brightness(200%);
}

.work {
  display: grid;
  grid-template-columns: auto;
  align-content: space-evenly;
  justify-content: center;
}

.work-title {
  color: #172b4d;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 52px;
  text-align: center;
}

.projects {
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: calc(100% - 48px);
  align-content: space-evenly;
  justify-content: center;
}

.proj {
  height: 474px;
  width: 327px;
  border-radius: 8px;
  display: flex;
  align-items: flex-end;
  background-color: #ebf0ee;
}

.proj-details {
  border-radius: 8px;
  border: 1px solid #d0d9d4;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 45%;
  align-items: center;
}

.proj-languages {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
}

.proj-languages > * {
  background: #ebf0ee;
  border-radius: 4px;
  padding: 8px 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #3a4a42;
}

.proj-title {
  margin: 16px 1px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  align-items: center;
  text-align: center;
  flex-basis: 80%;
}

.proj-button {
  background-color: #36b37f;
  color: #fff;
  border-radius: 4px;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
}

.proj-button:hover {
  box-shadow: 1px 8px 16px rgba(54, 179, 127, 0.24);
}

.proj-button:active {
  background-color: #008552;
}

.about-me {
  display: grid;
  grid-template-columns: auto;
  align-content: space-evenly;
  justify-content: center;
}

.about-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 12px;
  background-size: 100% 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url(../images/background/about-me-background.png);
}

.about-me-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
  text-align: center;
  flex-basis: calc(100% - 24px);
}

.about-me-title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin: 24px 1px;
}

.about-button {
  margin: 12px 1px;
  background-color: #36b37f;
  color: #fff;
  border-radius: 4px;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  justify-content: center;
}

.about-button:hover {
  box-shadow: 1px 8px 16px rgba(54, 179, 127, 0.24);
}

.about-button:active {
  background-color: #008552;
}

.ability-box {
  box-sizing: border-box;
  border-radius: 8px;
  background: #ebf0ee;
  margin: 12px 24px;
  display: flex;
  flex-direction: column;
  border: 1px solid #c1c7d0;
  height: 352px;
  justify-content: space-evenly;
}

.abi-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.abi-box {
  list-style-type: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 8px;
  justify-content: center;
}

.abi-data h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
}

.abi-box > * {
  border-radius: 8px;
  padding: 12px;
  background: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #36b37e;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-size: 100% 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url(../images/background/background-contact.png);
}

.get-touch {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  text-align: center;
  margin-bottom: 48px;
  flex-basis: calc(100% - 48px);
  margin-top: 40px;
}

.contact-form {
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
  height: 48px;
}

.data-form input,
.data-form textarea {
  margin-bottom: 24px;
  width: 100%;
  padding: 12px;
}

#contact-message {
  height: 114px;
  border: 1px solid #60c095;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}

.data-form {
  text-align: center;
  flex-basis: calc(100% - 48px);
}

.contact .social {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 20px;
}

.last-email {
  text-decoration: none;
  text-align: center;
  margin-top: 24px;
  color: #42526e;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  height: 189px;
}

#submit {
  background-color: #36b37f;
  color: #fff;
  border-radius: 4px;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  justify-content: center;
  border: none;
}

#submit:hover {
  box-shadow: 1px 8px 16px rgba(54, 179, 127, 0.24);
}

#submit:active {
  background-color: #008552;
}
