* {
  margin: 0;
  padding: 0;
}

body {
  /*
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  */

  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url(../images/background/mobile-portfolio-background-1.png);
}

.toolbar {
  background-color: lightgreen;
  border: 1px solid red;
}

.welcome {
  background-color: lightskyblue;
}

.dropbox {
  background-color: lightsalmon;
}

.body {
  background-color: greenyellow;
  border: 1px solid blue;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome {
  color: #28352F;
  font-family: Inter;
  font-style: normal;
}

.welcome h1 {
  font-size: 20px;
  padding: 11px 24px;
}

.dropbox {
  text-align: end;
  align-self: center;
}

#drp-img {
  align-self: center;
}

.body {
  
}


